<?xml version="1.0" encoding="UTF-8"?>
<Server version="8">
  <Name>OvenMediaEngine</Name>
  <Type>origin</Type>
  <IP>*</IP>
  <PrivacyProtection>false</PrivacyProtection>
  <StunServer>stun.ovenmediaengine.com:13478</StunServer>
  <Modules>
    <HTTP2>
      <Enable>true</Enable>
    </HTTP2>
    <LLHLS>
      <Enable>true</Enable>
    </LLHLS>
    <P2P>
      <Enable>false</Enable>
      <MaxClientPeersPerHostPeer>2</MaxClientPeersPerHostPeer>
    </P2P>
  </Modules>
  <Bind>
    <Managers>
      <API>
        <Port>${env:OME_API_PORT:8081}</Port>
        <WorkerCount>1</WorkerCount>
      </API>
    </Managers>
    <Providers>
      <RTMP>
        <Port>${env:OME_RTMP_PROV_PORT:1935}</Port>
        <WorkerCount>1</WorkerCount>
      </RTMP>
    </Providers>
    <Publishers>
      <!-- <OVT>
        <Port>${env:OME_ORIGIN_PORT:9000}</Port>
        <WorkerCount>1</WorkerCount>
      </OVT> -->
      <WebRTC>
        <Signalling>
          <Port>3333</Port>
          <WorkerCount>1</WorkerCount>
        </Signalling>
        <IceCandidates>
          <IceCandidate>*:10000-10005/udp</IceCandidate>
          <TcpRelay>*:3477</TcpRelay>
          <TcpForce>true</TcpForce>
          <TcpRelayWorkerCount>1</TcpRelayWorkerCount>
        </IceCandidates>
      </WebRTC>
    </Publishers>
  </Bind>
  <Managers>
    <Host>
      <Names>
        <Name>*</Name>
      </Names>
    </Host>
    <API>
      <AccessToken>ome:default</AccessToken>
      <CrossDomains>
        <Url>*</Url>
      </CrossDomains>
    </API>
  </Managers>
  <VirtualHosts>
    <VirtualHost include="VHost*.xml" />
    <VirtualHost>
      <Name>default</Name>
      <Distribution>ovenmediaengine.com</Distribution>
      <Host>
        <Names>
          <Name>*</Name>
        </Names>
      </Host>
      <CrossDomains>
        <Url>*</Url>
      </CrossDomains>
      <AdmissionWebhooks>
        <ControlServerUrl>http://control-server:5000/v1/admission_webhooks</ControlServerUrl>
        <SecretKey>1234</SecretKey>
        <Timeout>3000</Timeout>
        <Enables>
          <Providers>rtmp</Providers>
        </Enables>
      </AdmissionWebhooks>
      <Applications>
        <Application>
          <Name>app</Name>
          <Type>live</Type>
          <OutputProfiles>
            <HWAccels>
              <Decoder>
                <Enable>false</Enable>
              </Decoder>
              <Encoder>
                <Enable>false</Enable>
              </Encoder>
            </HWAccels>
            <OutputProfile>
              <Name>bypass_stream</Name>
              <OutputStreamName>${OriginStreamName}</OutputStreamName>
              <Encodes>
                <Video>
                  <Name>bypass_video</Name>
                  <Bypass>true</Bypass>
                </Video>
                <Audio>
                  <Name>bypass_audio</Name>
                  <Bypass>true</Bypass>
                </Audio>
              </Encodes>
            </OutputProfile>
          </OutputProfiles>
          <Providers>
            <RTMP />
          </Providers>
          <Publishers>
            <AppWorkerCount>1</AppWorkerCount>
            <StreamWorkerCount>8</StreamWorkerCount>
            <!-- <OVT /> -->
            <WebRTC>
              <Timeout>30000</Timeout>
              <Rtx>false</Rtx>
              <Ulpfec>false</Ulpfec>
              <JitterBuffer>false</JitterBuffer>
            </WebRTC>
            <Push></Push>
          </Publishers>
        </Application>
      </Applications>
    </VirtualHost>
  </VirtualHosts>
</Server>