<?xml version="1.0" encoding="UTF-8"?>
<Server version="8">
  <Name>OvenMediaEngine</Name>
  <Type>origin</Type>
  <IP>*</IP>
  <PrivacyProtection>false</PrivacyProtection>
  <StunServer>stun.ovenmediaengine.com:13478</StunServer>
  <Modules>
    <HTTP2>
      <Enable>true</Enable>
    </HTTP2>
    <LLHLS>
      <Enable>true</Enable>
    </LLHLS>
    <P2P>
      <Enable>false</Enable>
      <MaxClientPeersPerHostPeer>2</MaxClientPeersPerHostPeer>
    </P2P>
  </Modules>
  <Bind>
    <Managers>
      <API>
        <Port>${env:OME_API_PORT:8081}</Port>
        <WorkerCount>1</WorkerCount>
      </API>
    </Managers>
    <Providers>
      <OVT>
        <WorkerCount>1</WorkerCount>
      </OVT>
      <RTMP>
        <Port>${env:OME_RTMP_PROV_PORT:1935}</Port>
        <WorkerCount>1</WorkerCount>
      </RTMP>
      <SRT>
        <Port>${env:OME_SRT_PROV_PORT:9999}</Port>
        <WorkerCount>1</WorkerCount>
      </SRT>
    </Providers>
    <Publishers>
      <LLHLS>
        <Port>${env:OME_LLHLS_STREAM_PORT:3333}</Port>
        <WorkerCount>1</WorkerCount>
      </LLHLS>
    </Publishers>
  </Bind>
  <Managers>
    <Host>
      <Names>
        <Name>*</Name>
      </Names>
    </Host>
    <API>
      <AccessToken>ome:default</AccessToken>
      <CrossDomains>
        <Url>*</Url>
      </CrossDomains>
    </API>
  </Managers>
  <VirtualHosts>
    <VirtualHost include="VHost*.xml" />
    <VirtualHost>
      <Name>default</Name>
      <Distribution>ovenmediaengine.com</Distribution>
      <Host>
        <Names>
          <Name>*</Name>
        </Names>
      </Host>
      <CrossDomains>
        <Url>*</Url>
      </CrossDomains>
      <Applications>
        <Application>
          <Name>app</Name>
          <Type>live</Type>
          <!-- Reference: https://docs.ovenmediaengine.com/transcoding/transcodewebhook#configuration -->
          <TranscodeWebhook>
            <Enable>true</Enable>
            <ControlServerUrl>http://control-server:5000/v1/transcode_webhook</ControlServerUrl>
            <SecretKey>abc123!@#</SecretKey>
            <Timeout>1500</Timeout>
            <UseLocalProfilesOnConnectionFailure>true</UseLocalProfilesOnConnectionFailure>
            <UseLocalProfilesOnServerDisallow>false</UseLocalProfilesOnServerDisallow>
            <UseLocalProfilesOnErrorResponse>false</UseLocalProfilesOnErrorResponse>
          </TranscodeWebhook>
          <OutputProfiles>
            <HWAccels>
              <Decoder>
                <Enable>false</Enable>
              </Decoder>
              <Encoder>
                <Enable>false</Enable>
              </Encoder>
            </HWAccels>
            <OutputProfile>
              <Name>output_stream</Name>
              <OutputStreamName>${OriginStreamName}</OutputStreamName>
              <Encodes>
                <Video>
                  <Name>bypass_video</Name>
                  <Bypass>true</Bypass>
                </Video>
                <Audio>
                  <Name>bypass_audio</Name>
                  <Bypass>true</Bypass>
                </Audio>
              </Encodes>
            </OutputProfile>
          </OutputProfiles>
          <Providers>
            <OVT />
            <RTMP />
            <SRT />
          </Providers>
          <Publishers>
            <AppWorkerCount>1</AppWorkerCount>
            <StreamWorkerCount>8</StreamWorkerCount>
            <LLHLS>
              <ChunkDuration>0.5</ChunkDuration>
              <PartHoldBack>1.5</PartHoldBack>
              <SegmentDuration>6</SegmentDuration>
              <SegmentCount>10</SegmentCount>
              <CrossDomains>
                <Url>*</Url>
              </CrossDomains>
              <CreateDefaultPlaylist>true</CreateDefaultPlaylist>
            </LLHLS>
          </Publishers>
        </Application>
      </Applications>
    </VirtualHost>
  </VirtualHosts>
</Server>